<div class="user-details">
  <h1> Personal projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/banner_phishboom.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Phishboom </h3>
    <p>It is a python script that allows you to send emails (as many as you want) with templates already by default to the people you choose to redirect them to the page you want.</p>
    <a class="project-link" href="#">Check it out!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/banner_hackweb.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> HackWeb </h3>
    <p>With this tool you can make a common and basic recognition of each web page in just a few seconds.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/banner_magicshell.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> magicShell </h3>
    <p>Tired of having to go to pentestmonkey every time you need a reverse? with magicShell your problems are over! with a simple command you can choose the reverse that you want in a matter of seconds, it also allows you to download the php file quickly</p>
    <a class="project-link" href="#">Check it out!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/banner_gusanator.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gusanator </h3>
    <p>It is a program that emulates a "computer worm" (malware), creating multiple directories and / or files in the path of your choice. In addition, you can add the extension you prefer in the files and you can also add texts within each of the files.</p>
    <a class="project-link" href="#">Check it out!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/banner_boxthehack.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> BoxTheHack </h3>
    <p>Script hecho en python3 para la automatización de tareas en la página: HackTheBox</p>
    <a class="project-link" href="#">Check it out!</a>
  </div>
</div>