<div class="user-details">
  <h1> Script projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/banner_phishboom.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Phishboom </h3>
    <p>It is a python script that allows you to send emails (as many as you want) with templates already by default to the people you choose to redirect them to the page you want.</p>
    <a class="project-link" href="#">Check it out!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/banner_hackweb.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> HackWeb </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
